Output/
Module
PotPlayer64.dll
ffcodec64.dll
d3dcompiler_47.dll
PotIcons64.dll
d3dx9_43.dll
MediaInfo.sdb
MediaDB64.dll
ATextOut64.dll
GameCaptureHook64.dll
GameCaptureHook.dll
PotScreenSaver64.scr
DTDrop64.exe
DaumCrashHandler64.dll
DesktopHook64.exe
KillPot64.exe
DesktopHook64.dll
DesktopHook.exe
DesktopHook.dll
Capture
Language
VapourSynth
CmdLine64.txt
History
Html
IconPack
Logos
Module
Extention













{app}/AviSynth/someinfo.txt
{app}/Playlist/PotPlayerMini64.dpl
{app}/AviSynth/someinfo.txt
{app}/AviSynth/someinfo.txt
